.wrapper {
  gap: 12px;
  width: 70%;
  margin: 0 auto;
  margin-top: 24px;
  padding: 20px 0; 
  background: rgba(255,255,255,0.6);
  border-radius: 8px;
}

.title {
  text-align: center;
  line-height: 1.1;
}

.description {
  text-align: center;
  margin-top: 10px;
}